ACTIVE_PROFILE=prod
DB_USER=user
DB_PASSWORD=pass
DB_NAME=db
DB_PORT=5432
EUREKA_SERVER_PORT=8761
EUREKA_SERVER_URL=http://eureka-server:8761/eureka/
API_GATEWAY_PORT=8080
BOOK_SERVICE_PORT=8081
USER_SERVICE_PORT=8082
USER_SERVICE_URL=http://user-service
BOOK_SERVICE_URL=http://book-service
JWT_SECRET=replace-with-at-least-32-characters-secret
ELASTIC_STACK_VERSION=8.15.3
ELASTICSEARCH_PORT=9200
LOGSTASH_PORT=5005
LOGSTASH_API_PORT=9600
KIBANA_PORT=5601
LOG_LEVEL=INFO
