ACTIVE_PROFILE=prod
DB_USER=user
DB_PASSWORD=pass
DB_NAME=db
DB_PORT=5432
BOOK_SERVICE_PORT=8081
USER_SERVICE_PORT=8082
BOOK_SERVICE_URL=http://book-service:8081
USER_SERVICE_URL=http://user-service:8082
